<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">

    </head>
    <body>
        <div class="main-content">
        {{>header}}

        
        <p>This is how you do it {{ name }}</p>

        <p>{{ helpText }}</p>
        </div>


        {{>footer}}
    </body>
</html>